.input--main--container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	background: black;
	margin: 10px 0;
}

.input--main--container > input {
	color: white;
	background: transparent;
	outline: none;
	text-align: left;
	border: none;
	width: 95%;
	padding: 0 5px;
	overflow: auto;
	border-bottom: 1px solid gray;
}

.input--main--container > input::placeholder {
	font-size: 13px;
	color: #b8b8b8;
	text-align: left;
}
