.input--main--container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: 1px solid rgb(230, 227, 227);
	border-radius: 10px;
}

.input--main--container > input {
	height: 100%;
	width: 95%;
	padding: 0 10px;
	font-size: 18px;
	border: none;
	outline: none;
}
