.content--main--container {
	padding: 5px 10px;
	display: flex;
	height: 110px;
	width: 100%;
}

.content--main--container--image {
	display: flex;
	align-items: center;
	width: 20%;
}

.content--main--container--content {
	width: 80%;
}

.content--main--container--content--main {
	color: black;
	font-weight: bolder;
	font-size: 25px;
	text-align: center;
	font-style: italic;
	text-decoration: underline;
}

.content--main--container--content--body {
	color: rgb(45, 90, 237);
	padding: 15px;
	font-size: 15px;
	letter-spacing: 0.5px;
}
