.post--main--container {
	display: flex;
	margin: 30px 0;
	cursor: pointer;
	border-radius: 10px;
	border: 0.5px solid rgb(203, 201, 201);
	overflow: hidden;
}

.post--main--container:hover {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
